// Override default variables before the import
$body-bg: #fff;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
.App {
  text-align: center;
}

.maps-module {
  line-height: 1.2rem;
  min-height: 100%;
}

.card {
  border-radius: 0;
  overflow: auto;
}

.switch { 
  width: 100%;
}

.pano { 
  width: fit-content;
  width: -webkit-fill-available;
}